In [56]:
import pandas as pd
import json
import flask
from flask import Flask, jsonify

In [3]:
csv = "race_data.csv"

In [4]:
df = pd.read_csv(csv)
df = df.sort_values(by=['State'])

In [5]:
df['Date'] = pd.to_datetime(df['Date'], format='%Y%m%d')
df.columns

Index(['Date', 'State', 'Cases_Total', 'Cases_White', 'Cases_Black',
       'Cases_Latinx', 'Cases_Asian', 'Cases_AIAN', 'Cases_NHPI',
       'Cases_Multiracial', 'Cases_Other', 'Cases_Unknown',
       'Cases_Ethnicity_Hispanic', 'Cases_Ethnicity_NonHispanic',
       'Cases_Ethnicity_Unknown', 'Deaths_Total', 'Deaths_White',
       'Deaths_Black', 'Deaths_Latinx', 'Deaths_Asian', 'Deaths_AIAN',
       'Deaths_NHPI', 'Deaths_Multiracial', 'Deaths_Other', 'Deaths_Unknown',
       'Deaths_Ethnicity_Hispanic', 'Deaths_Ethnicity_NonHispanic',
       'Deaths_Ethnicity_Unknown', 'Hosp_Total', 'Hosp_White', 'Hosp_Black',
       'Hosp_Latinx', 'Hosp_Asian', 'Hosp_AIAN', 'Hosp_NHPI',
       'Hosp_Multiracial', 'Hosp_Other', 'Hosp_Unknown',
       'Hosp_Ethnicity_Hispanic', 'Hosp_Ethnicity_NonHispanic',
       'Hosp_Ethnicity_Unknown', 'Tests_Total', 'Tests_White', 'Tests_Black',
       'Tests_Latinx', 'Tests_Asian', 'Tests_AIAN', 'Tests_NHPI',
       'Tests_Multiracial', 'Tests_Other', 'Tests_Unknown',
       'Tests_Ethnicity_Hispanic', 'Tests_Ethnicity_NonHispanic',
       'Tests_Ethnicity_Unknown'],
      dtype='object')

In [6]:
df = df[['Date', 'State', 'Cases_Total', 'Cases_White', 'Cases_Black',
       'Cases_Latinx', 'Cases_Asian', 'Cases_AIAN', 'Cases_NHPI',
       'Cases_Multiracial', 'Cases_Other', 'Cases_Unknown',
       'Cases_Ethnicity_Hispanic', 'Cases_Ethnicity_NonHispanic',
       'Cases_Ethnicity_Unknown', 'Deaths_Total', 'Deaths_White',
       'Deaths_Black', 'Deaths_Latinx', 'Deaths_Asian', 'Deaths_AIAN',
       'Deaths_NHPI', 'Deaths_Multiracial', 'Deaths_Other', 'Deaths_Unknown',
       'Deaths_Ethnicity_Hispanic', 'Deaths_Ethnicity_NonHispanic',
       'Deaths_Ethnicity_Unknown']]

In [59]:
# replace none and Nan
df

,Date,State,Cases_Total,Cases_White,Cases_Black,Cases_Latinx,Cases_Asian,Cases_AIAN,Cases_NHPI,Cases_Multiracial,...,Deaths_Latinx,Deaths_Asian,Deaths_AIAN,Deaths_NHPI,Deaths_Multiracial,Deaths_Other,Deaths_Unknown,Deaths_Ethnicity_Hispanic,Deaths_Ethnicity_NonHispanic,Deaths_Ethnicity_Unknown
0,2021-03-07,AK,59332.0,18300.0,1499.0,NaN,2447.0,12238.0,1508.0,4453.0,...,NaN,29.0,111.0,17.0,4.0,1.0,7.0,13.0,280.0,12.0
784,2021-01-17,AK,51938.0,16432.0,1362.0,NaN,2060.0,10754.0,1410.0,4021.0,...,NaN,23.0,90.0,16.0,2.0,0.0,2.0,10.0,212.0,7.0
4480,2020-05-31,AK,460.0,274.0,13.0,NaN,46.0,41.0,15.0,16.0,...,NaN,2.0,2.0,1.0,0.0,0.0,0.0,0.0,10.0,0.0
840,2021-01-13,AK,50816.0,16186.0,1345.0,NaN,2025.0,10422.0,1399.0,3965.0,...,NaN,22.0,89.0,15.0,4.0,0.0,2.0,9.0,211.0,6.0
4424,2020-06-03,AK,505.0,301.0,14.0,NaN,49.0,54.0,15.0,16.0,...,NaN,2.0,2.0,1.0,0.0,0.0,0.0,0.0,10.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4647,2020-05-24,WY,638.0,306.0,8.0,74.0,5.0,202.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,NaN,NaN,NaN
3527,2020-08-02,WY,2848.0,1404.0,28.0,387.0,18.0,399.0,7.0,NaN,...,2.0,0.0,12.0,NaN,NaN,0.0,1.0,2.0,24.0,1.0
2799,2020-09-16,WY,4566.0,2408.0,46.0,599.0,30.0,483.0,15.0,NaN,...,2.0,0.0,15.0,NaN,NaN,0.0,8.0,2.0,35.0,8.0
3359,2020-08-12,WY,3086.0,1567.0,33.0,434.0,20.0,410.0,7.0,NaN,...,2.0,0.0,13.0,NaN,NaN,0.0,1.0,2.0,26.0,1.0
5319,2020-04-12,WY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df.to_csv('race_data.csv')